/* Put your CSS here */
html,
body {
  margin: 0 0;
  background: #000;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#cr-stage {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

  margin: 0 auto 0 0;
  transform-origin: top left;
}
section#help {
  width: 300px;
  float: right;
  color: #404040;
  text-align: right;
}
.fullscreen #cr-stage {
  transform-origin: center center;
  margin: 0 auto;
}
