/* Put your CSS here */
html,
body {
  margin: 0 0;
  background: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#cr-stage {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

  transform-origin: top left;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

footer {
  color: #DDD;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  font-family: "Press Start 2P";
  font-size: 8px;
  width: 100%
}

footer * {
  margin-right: 1em;
}

footer button {
  padding: 1em;
  background: #DDD;
}

#version::before {
  content: 'Ver: ';
}

a {
  color: #fff;
}

.fullscreen #theater {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}
