.log {
    background: black;
    padding: 1em;
    font-family: monospace;
    color: #eee;
}
.line {
    display: block;
}
.pre {
    color: orange;
}
.props {
    color: orange;
}
.value {
    color: #eee;
}
