.sourceCode {
    width: 1024px;
    background: rgba(0, 0, 0, 0.4);
    font-family: monospace;
    color: #EEE;
    white-space: pre;
}

.jsonString {
    color: orange;
}

.jsonNumber {
    color: yellow;
}

.jsonNull {
    color: lightGrey;
}

.jsonBool {
    color: lightblue;
}

.jsonKey {
    color: #ddd;
}

.indent {
    padding-left: 1em;
}
