.sourceCode {
    width: 1024px;
    background: rgba(0, 0, 0, 0.4);
    font-family: monospace;
    color: #EEE;
    white-space: pre;
}

.toggleSource {
    color: orange;
    font-family: monospace;
}
